@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Mulish', sans-serif;
}

ul, li{
    list-style: none;
}
a{
    text-decoration: none;
}
.container{
    max-width: 1600px;
    margin: 0 auto;
    padding: 56px 180px;
}

/* HEADER */
.container .header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 14px;

}

.container .logo{
    width: 160px;
    height: 40px;
}
.container .header .navigation .navigation-items{
    display: flex;
}
.container .header .navigation .navigation-items li a{
    font-size: 18px;
    line-height: 23px;
    color: #1F1534;
    opacity: 0.5;
    margin: 0 20px;
}

.container .header .navigation .navigation-items li a.active{
    opacity: 1;
    font-weight: bold;
}

.container .element{
    position: absolute;
    left: 0;
}

.container .hero-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 84px;
}

.container .hero-container .left h1{
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;
    color: #000000;
    margin-bottom: 25px;
}

.container .hero-container .left p{
    font-weight: 300;
    font-size: 21px;
    line-height: 32px;
    color: #7D7987;
    margin-right: 109px;
    margin-bottom: 40px;
}
.container .hero-container .left .btn{
    margin-top: 40px;
    background-color: #458FF6;
    width: 200px;
    height: 60px;
    padding: 8px 20px;
    font-size: 18px;
    line-height: 60px;
    color: #FFFFFF;
    border-radius: 40px;
}
.container .hero-container .right{
    width: 693px;
    height: 598px;
}

/*OUR SERVİCES*/

.container .services .title .text{
    margin-top: 190px;
    text-align: center;
}

.container .services .title .border{
    border-top: 1px solid #000000;
    width: 56px;
    height: 2px;
    margin: auto auto;
    margin-top: 20px;
}

.container .services .title .content{
    margin-top: 33px;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    color: #7D7987;
    margin-bottom: 80px;
}

/*BOXS*/
.container .services .boxs{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.container .services .boxs .bgimg{
    position: absolute;
    width: 937.96px;
    height: 671.38px;
    left: -20.42px;
    top: 965px;
    opacity: 0.6;
    transform: rotate(21.46deg);
    
}
/*BOXS TOP*/
.container .services .boxs .boxs-top{
    display: flex;
    flex-direction: row;
    z-index: 999;
    justify-content: space-between;
    align-items: center;
}
.container .services .boxs .boxs-top .box1{
    margin-right: 32px;
    margin-left: 60px;
    background-color: #FFFFFF;
    width: 350px;
    height: 354px;
    border-radius: 20px;
    box-shadow: 3px;
}
.container .services .boxs .boxs-top .box1 img{
    margin-left: 37px;
    margin-top: 54px;
}

.container .services .boxs .boxs-top .box1 .title{
    margin-top: 45px;
    margin-left: 39px;
}
.container .services .boxs .boxs-top .box1 .content{
    margin-left: 39px;
    margin-top: 30px;
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;
    color: #7D7987;
    width: 266px;
    height: 84px;
    margin-bottom: 50px;
}


.container .services .boxs .boxs-top .box2{
    margin-right: 32px;
    background-color: #FFFFFF;
    width: 350px;
    height: 354px;
    border-radius: 20px;
    box-shadow: 3px;
}

.container .services .boxs .boxs-top .box2 img{
    margin-left: 37px;
    margin-top: 54px;
}


.container.container .services .boxs .boxs-top .box2 .title{
    margin-top: 45px;
    margin-left: 39px;
}
 .services .boxs .boxs-top .box2 .content{
    margin-left: 39px;
    margin-top: 30px;
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;
    color: #7D7987;
    width: 266px;
    height: 84px;
    margin-bottom: 50px;
}

.container .services .boxs .boxs-top .box3{
    margin-right: 75px;
    background-color: #FFFFFF;
    width: 350px;
    height: 354px;
    border-radius: 20px;
    box-shadow: 3px;
}

.container .services .boxs .boxs-top .box3 img{
    margin-left: 37px;
    margin-top: 54px;
}

.container.container .services .boxs .boxs-top .box3 .title{
    margin-top: 45px;
    margin-left: 39px;
}
 .services .boxs .boxs-top .box3 .content{
    margin-left: 39px;
    margin-top: 30px;
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;
    color: #7D7987;
    width: 266px;
    height: 84px;
    margin-bottom: 50px;
}

/*BOXS BOTTOM*/

.container .services .boxs .boxs-bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
    margin-top: 37px;
}

.container .services .boxs .boxs-bottom .box4{
    margin-right: 32px;
    margin-left: 60px;
    background-color: #FFFFFF;
    width: 350px;
    height: 354px;
    border-radius: 20px;
    box-shadow: 3px;
}

.container .services .boxs .boxs-bottom .box4 img{
    margin-left: 37px;
    margin-top: 54px;
}

.container .services .boxs .boxs-bottom .box4 .title{
    margin-top: 45px;
    margin-left: 39px;
}
.container .services .boxs .boxs-bottom .box4 .content{
    margin-left: 39px;
    margin-top: 30px;
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;
    color: #7D7987;
    width: 266px;
    height: 84px;
    margin-bottom: 50px;
}

.container .services .boxs .boxs-bottom .box5{
    margin-right: 32px;
    background-color: #FFFFFF;
    width: 350px;
    height: 354px;
    border-radius: 20px;
    box-shadow: 3px;
}

.container .services .boxs .boxs-bottom .box5 img{
    margin-left: 37px;
    margin-top: 54px;
}

.container .services .boxs .boxs-bottom .box5 .title{
    margin-top: 45px;
    margin-left: 39px;
}
.container .services .boxs .boxs-bottom .box5 .content{
    margin-left: 39px;
    margin-top: 30px;
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;
    color: #7D7987;
    width: 266px;
    height: 84px;
    margin-bottom: 50px;
}

.container .services .boxs .boxs-bottom .box6{
    margin-right: 75px;
    background-color: #FFFFFF;
    width: 350px;
    height: 354px;
    border-radius: 20px;
    box-shadow: 3px;
}

.container .services .boxs .boxs-bottom .box6 img{
    margin-left: 37px;
    margin-top: 54px;
}

.container.container .services .boxs .boxs-bottom .box6 .title{
    margin-top: 45px;
    margin-left: 39px;
}
 .services .boxs .boxs-bottom .box6 .content{
    margin-left: 39px;
    margin-top: 30px;
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;
    color: #7D7987;
    width: 266px;
    height: 84px;
    margin-bottom: 50px;
}
.container .services .btn{
    border: 1.4px solid #458FF6;
    box-sizing: border-box;
    border-radius: 55px;
    width: 200px;
    height: 58px;
   background-color: #FFFFFF;
   color:  #458FF6;
   margin-top: 69px;
   margin-left: 475px;
}