@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Mulish', sans-serif;
}

ul, li{
    list-style: none;
}
a{
    text-decoration: none;
}
.container{
    max-width: 1600px;
    margin: 0 auto;
    padding: 56px 180px;
}

/* HEADER */
.container .header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 14px;

}

.container .logo{
    width: 160px;
    height: 40px;
}
.container .header .navigation .navigation-items{
    display: flex;
}
.container .header .navigation .navigation-items li a{
    font-size: 18px;
    line-height: 23px;
    color: #1F1534;
    opacity: 0.5;
    margin: 0 20px;
}

.container .header .navigation .navigation-items li a.active{
    opacity: 1;
    font-weight: bold;
}

.container .element{
    position: absolute;
    left: 0;
}

.container .hero-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 84px;
}

.container .hero-container .left h1{
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;
    color: #000000;
    margin-bottom: 25px;
}

.container .hero-container .left p{
    font-weight: 300;
    font-size: 21px;
    line-height: 32px;
    color: #7D7987;
    margin-right: 109px;
    margin-bottom: 40px;
}
.container .hero-container .left .btn{
    margin-top: 40px;
    background-color: #458FF6;
    width: 200px;
    height: 60px;
    padding: 8px 20px;
    font-size: 18px;
    line-height: 60px;
    color: #FFFFFF;
    border-radius: 40px;
}
.container .hero-container .right{
    width: 693px;
    height: 598px;
}

/*OUR SERVİCES*/

.container .services .title .text{
    margin-top: 190px;
    text-align: center;
}

.container .services .title .border{
    border-top: 1px solid #000000;
    width: 56px;
    height: 2px;
    margin: auto auto;
    margin-top: 20px;
}

.container .services .title .content{
    margin-top: 33px;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    color: #7D7987;
    margin-bottom: 80px;
}

/*BOXS*/
.container .services .boxs{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.container .services .boxs .bgimg{
    position: absolute;
    width: 937.96px;
    height: 671.38px;
    left: -20.42px;
    top: 965px;
    opacity: 0.6;
    transform: rotate(21.46deg);
    
}
/*BOXS TOP*/
.container .services .boxs .boxs-top{
    display: flex;
    flex-direction: row;
    z-index: 999;
    justify-content: space-between;
}
.container .services .boxs .boxs-top .box1{
    margin-right: 32px;
    margin-left: 60px;
    background-color: #FFFFFF;
    width: 350px;
    height: 354px;
    border-radius: 20px;
    box-shadow: 3px;
}
.container .services .boxs .boxs-top .box1 img{
    margin-left: 37px;
    margin-top: 54px;
}

.container .services .boxs .boxs-top .box1 .title{
    margin-top: 45px;
    margin-left: 29px;
    margin-right: 100px;
}
.container .services .boxs .boxs-top .box1 .content{
    margin-left: 39px;
    margin-top: 30px;
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;
    color: #7D7987;
    width: 266px;
    height: 84px;
    margin-bottom: 50px;
}


.container .services .boxs .boxs-top .box2{
    margin-right: 32px;
    background-color: #FFFFFF;
    width: 350px;
    height: 354px;
    border-radius: 20px;
    box-shadow: 3px;
}

.container .services .boxs .boxs-top .box2 img{
    margin-left: 37px;
    margin-top: 54px;
}


.container.container .services .boxs .boxs-top .box2 .title{
    margin-top: 45px;
    margin-left: 39px;
    margin-right: 50px;
}
 .services .boxs .boxs-top .box2 .content{
    margin-left: 39px;
    margin-top: 30px;
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;
    color: #7D7987;
    width: 266px;
    height: 84px;
    margin-bottom: 50px;
}

.container .services .boxs .boxs-top .box3{
    margin-right: 75px;
    background-color: #FFFFFF;
    width: 350px;
    height: 354px;
    border-radius: 20px;
    box-shadow: 3px;
}

.container .services .boxs .boxs-top .box3 img{
    margin-left: 37px;
    margin-top: 54px;
}

.container.container .services .boxs .boxs-top .box3 .title{
    margin-top: 45px;
    margin-left: 39px;
    margin-right: 120px;
}
 .services .boxs .boxs-top .box3 .content{
    margin-left: 39px;
    margin-top: 30px;
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;
    color: #7D7987;
    width: 266px;
    height: 84px;
    margin-bottom: 50px;
}

/*BOXS BOTTOM*/

.container .services .boxs .boxs-bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
    margin-top: 37px;
}

.container .services .boxs .boxs-bottom .box4{
    margin-right: 32px;
    margin-left: 60px;
    background-color: #FFFFFF;
    width: 350px;
    height: 354px;
    border-radius: 20px;
    box-shadow: 3px;
}

.container .services .boxs .boxs-bottom .box4 img{
    margin-left: 37px;
    margin-top: 54px;
}

.container .services .boxs .boxs-bottom .box4 .title{
    margin-top: 45px;
    margin-left: 39px;
    margin-right: 130px;
}
.container .services .boxs .boxs-bottom .box4 .content{
    margin-left: 39px;
    margin-top: 30px;
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;
    color: #7D7987;
    width: 266px;
    height: 84px;
    margin-bottom: 50px;
}

.container .services .boxs .boxs-bottom .box5{
    margin-right: 32px;
    background-color: #FFFFFF;
    width: 350px;
    height: 354px;
    border-radius: 20px;
    box-shadow: 3px;
}

.container .services .boxs .boxs-bottom .box5 img{
    margin-left: 37px;
    margin-top: 54px;
}

.container .services .boxs .boxs-bottom .box5 .title{
    margin-top: 45px;
    margin-left: 39px;
    margin-right: 60px;
}
.container .services .boxs .boxs-bottom .box5 .content{
    margin-left: 39px;
    margin-top: 30px;
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;
    color: #7D7987;
    width: 266px;
    height: 84px;
    margin-bottom: 50px;
}

.container .services .boxs .boxs-bottom .box6{
    margin-right: 75px;
    background-color: #FFFFFF;
    width: 350px;
    height: 354px;
    border-radius: 20px;
    box-shadow: 3px;
}

.container .services .boxs .boxs-bottom .box6 img{
    margin-left: 37px;
    margin-top: 54px;
}

.container.container .services .boxs .boxs-bottom .box6 .title{
    margin-top: 45px;
    margin-left: 39px;
    margin-right: 200px;   
}
 .services .boxs .boxs-bottom .box6 .content{
    margin-left: 39px;
    margin-top: 30px;
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;
    color: #7D7987;
    width: 266px;
    height: 84px;
    margin-bottom: 50px;
}
.services .white-btn{
     margin-top: 69px;
   margin-left: 475px;
}
.white-btn{
    border: 1.4px solid #458FF6;
    box-sizing: border-box;
    border-radius: 55px;
    width: 200px;
    height: 58px;
   background-color: #FFFFFF;
   color:  #458FF6;
  
}

/* Leading Healthcare Providers */

.providers{
    display: flex;
    flex-direction: row;
    margin-top: 274px;
    margin-bottom: 229px;
}

.providers .img img{
    width: 600px;
    height: 427px;
}

.providers .texts{
    display: flex;
    flex-direction: column;
    margin-left: 100px;

}

.providers .texts .title{
    font-size: 24px;
    line-height: 56px;
    width: 481px;
    height: 112px;
    margin-bottom: 26px;
}

.providers .texts .border{
    border: 1px solid #000000;
    width: 56px;
    height: 1px;
    margin-bottom: 31px;
}

.providers .texts .content{
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    color: #7D7987;
    width: 450px;
    height: 120px;
    margin-bottom: 37px;
}

/* APPS*/

.apps{
    display: flex;
    flex-direction: row;
}

.apps .texts{
    display: flex;
    flex-direction: column;   
    margin-right: 71px;
}

.apps .texts .title{
    width: 254px;
    height: 96px;
    line-height: 48px;
}

.apps .texts .border{
    margin-top: 30px;
    border: 1px solid #000000;
    width: 56px;
}

.apps .texts .content{
    margin-top: 31px;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    color: #7D7987;
    width: 420px;
    height: 120px;
    margin-bottom: 40px;
}

/* CUSTOMER FEEDBACK */

.card-wrapper{
    margin-top: 266px;
    display: flex;
}

.card-wrapper .card{
    width: 1120px;
    height: 425px;
    background: linear-gradient(208.18deg, #67C3F3 9.05%, #5A98F2 76.74%);
border-radius: 24px;
position: relative;
}

.card-wrapper .card .title{
    display: flex;
    flex-direction: column;
}

.card-wrapper .card .title .title-text{
    line-height: 48px;
    color: #FFFFFF;
    width: 522px;
    height: 48px;
    margin: 0 auto;    
    margin-top: 64px;
    margin-bottom: 25px;
}

.card-wrapper .card .title .title-border{
    border: 1px solid #FFFFFF;
    width: 56px;
    margin: 0 auto;
}

.card-wrapper .card .content{
    margin-top: 77px;
    display: flex;
    flex-direction: row;
    
}
.card-wrapper .card .content .left{
    margin-left: 118px;
   
    
}

.card-wrapper .card .content .left .user-info{
    margin: 0 auto;
    margin-left: 175px;   
}

.card-wrapper .card .content .left .user-info .name{
    font-size: 22px;
    font-weight: 700;
    line-height: 48px;
    color: #FFFFFF;
}

.card-wrapper .card .content .left .user-info .title{
    font-size: 18px;
    line-height: 48px;
    color: rgba(255, 255, 255, 0.85);
    margin-top: -15px;
}

.card-wrapper .card .content .right{
}
.card-wrapper .card .content .right .content-text{
    font-size: 19px;
    line-height: 30px;
    color: rgba(255, 255, 255, 0.9);
    width: 420px;
    height: 120px;
    margin-left: 10rem;
}

.vectors{
    display: flex;
    margin-top: 50px;
    align-items: center;
    justify-content: space-between
}

.vectors .arrow-back{
    transform: rotate(-180deg);
    opacity: 0.4;
}
.vectors .darts{
    display: flex;
}
.vectors .darts .ellipse{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #5B9BF3;
    opacity: 0.4;
    margin-right: 5px;   
}

.vectors .darts .ellipse.active{
    opacity: 1;
}

/*  ARTICLES  */

.articles{
    margin-top: 222px;
   
}
.title{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.articles .title .article-title{
    text-align: center;
    font-size: 34px;
    line-height: 56px;
    margin-bottom: 26px;
    font-weight: bold;
color: #000000;
}

.articles .title .border{
    border: 0.5px solid #000000;
    background-color: #000000;
    width: 56px;
    margin: 0 auto;
    margin-bottom: 79px;
}

.articles .cards{
    display: flex;
    flex-direction: row;
    margin-bottom: 69px;
}
.articles .cards .card{
    display: flex;
   flex-direction: column;
   box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
   margin-right: 37px;
}
.articles .cards .card .img img{
    border-radius: 20px 20px 0 0;
}
.articles .cards .card .title{
    margin-top: 24px;
    font-size: 18px;
    line-height: 32px;
    color: #000000;
    width: 251px;
    height: 64px;
    margin-left: 20px;
}

.articles .cards .card .content{
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;
    color: #7D7987;
    width: 266px;
    height: 84px;
    margin-top: 12px;
    margin-left: 20px;
}
.articles .cards .card .btn{
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-right: 190px;
    align-items: center;
}


.articles .cards .card .btn img{
    width: 14px;
    height: 9px;
}


.articles .cards .card .btn a{
    color: #4089ED;
    margin-right: 3px;
    margin-bottom: 15px;
}


.articles .btn .white-btn{
    margin-left: 500px;
}

/*    FOOTER    */

.footer{
    margin-top: 150px;
    width: 100%;
    height: 400px;
    background: linear-gradient(183.41deg, #67C3F3 -8.57%, #5A98F2 82.96%);

}

.footer .texts{
    position: absolute;
    left: 75;
    margin-top: 100px;
    display: flex;
    flex-direction: row;
}

.footer .texts .trafalgar{
    display: flex;
    flex-direction: column;


}

.footer .texts .trafalgar .title{
    display: flex;
    flex-direction: row;
    margin-right: 150px;
    margin-bottom: 22px;
}

.footer .texts .trafalgar .title .logo{
    padding: 7px;
    text-align: center;
    font-size: 20px;
    background-color: #FFFFFF;
    font-weight: 700;
    width: 41px;
    height: 41px;
    border-radius: 50%;
    color: #5B9BF3;
    margin-right: 10px;
}

.footer .texts .trafalgar .title .title-text{
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;

}

.footer .texts .trafalgar .contents .content{
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
    width: 400px;
    height: 84px;
    margin-left: 100px;
    margin-bottom: 25px;
}

.footer .texts .trafalgar .contents .copyright{
    font-size: 16px;
    line-height: 28px;
    color: #FFFFFF;
    margin-left: 95px;
}

.footer .texts .company{
    margin-left: 125px;

}

.footer .texts .company .title{
    font-weight: bold;
    font-size: 20px;
    line-height: 60px;
    color: #FFFFFF;
    margin-right: 20px;
}

.footer .texts .company .titles ul li{
    font-size: 18px;
    line-height: 38px;
    color: #FFFFFF;
    opacity: 0.8;
}

.footer .texts .region{
    margin-left: 125px;

}

.footer .texts .region .title{
    font-weight: bold;
    font-size: 20px;
    line-height: 60px;
    color: #FFFFFF;
    margin-right: 20px;
}

.footer .texts .region .titles ul li{
    font-size: 18px;
    line-height: 38px;
    color: #FFFFFF;
    opacity: 0.8;
}

.footer .texts .help{
    margin-left: 125px;

}

.footer .texts .help .title{
    font-weight: bold;
    font-size: 20px;
    line-height: 60px;
    color: #FFFFFF;
    margin-right: 90px;

}

.footer .texts .help .titles ul li{
    font-size: 18px;
    line-height: 38px;
    color: #FFFFFF;
    opacity: 0.8;
}
